@media print {
    #nav-bar {
     display:none;
    }
  }
* {
    box-sizing: border-box;
  }
  .nav {
    height: 50px;
    width: 100%;
    background-color: #2F4858;
    position: fixed;
    z-index: 104;
    font-family: 'Raleway', sans-serif;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh);
      overflow-y: auto;
    }
  }
#profil-pic {
  width: 35%;
  border-radius: 50%;
  border: solid 5px white;
  margin-bottom: -10%;
  z-index: 100;
}
body {
  background: url("https://static.wixstatic.com/media/dc2266_eb2dff0132ba43939bffc9caacfae90e~mv2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}
#container {
  background: rgb(255, 255, 255, 0.80);
  border-radius: 5px;
  padding: 5%;
  margin: 5% 5% 0% 5%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.25em;
}
#container p {
  text-align: justify;
  padding: 20px;
}
header {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  font-size: 25px;
  height: 50%;
  z-index: 100;
}
header h1 {
  margin-top: 30vh;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 40px;
}
header p {
  font-family: 'raleway', sans-serif;
  padding: 10px;
  font-size: 25px;;
}
img {
  width: 80%;
  height: auto;
}
iframe {
  width: 100%;
}
#navbar {
  visibility: hidden;
  top: 0px;
  width: 100%;
  background: #2F4858;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  Z-index: 101;
  }

#navbar .nav-link {
  text-decoration: none;
  padding: 1vh;
  height: 100%; 
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
#experiences p {
  padding: 25px;
}
#gitimg {
  height: 60px;
  width: auto;
}
#linkedin_img {
  height: 60px;
  width: auto;
}
#competences img {
  height: 5em;
  width: auto;
}
.flag {
  width: 80px;
  height: auto;
  padding: 10px;
}
#formations ul {
  list-style: none;
  display: inline-block;
  text-align: initial
}
#formations img {
  height: 200px;
  width: auto;
}
#formations {
  text-align: center;
}
#formations h2 {
  text-align: left;
}

#openclassrooms img {
  background-color:  #fef7ee;
  border: solid 1px #fef7ee;
}

 #container #experiences {
   text-align: justify;
   padding-bottom: 30px;
 }
 #container h2 {
   font-size: 40px;
   text-transform: uppercase;
   font-weight: bold;
   padding: 20px;
 }
 #container h3 {
   background: rgb(101, 103, 122, 0.30);
   margin: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
 }
 #content section {
   text-align: center;
 }
 #container #certifications p {
   color: #6c7f8e;  
   text-align: center;
 }
 #opquast img {
  width: 25%;
  height: auto;
 }

 #freecodecamp img {
 width: 50%;
 height: auto;
 }
 #logos {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }
 .myButton {
 background:linear-gradient(to bottom, #7b736f 5%, #7b736f 100%);
 background-color:#7b736f;
 border-radius:21px;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:17px;
 padding:14px 20px;
 text-decoration:none;
 text-shadow:0px 1px 0px #000000;
 position: fixed;
 right: 5px;
 top: 10vh;
 z-index: 102; 
}
#my-footer {
 font-family: 'Raleway', sans-serif;
 line-height: 1.5em;
 font-size: 25px;
 padding: 20px;
  text-shadow: 2px 2px 5px black;
  width: 100%;
  background: #039590; 
  color : white;
  display: flex;
  justify-content: space-evenly;
 }
 #info-rapide {
   text-align: justify;
 }
 #info-rapide h2{
   font-size: 40px;
   text-transform: uppercase;
   font-weight: bold;
   padding: 20px;
 }
 #contact-section {
   padding: 15px;
   text-align: center;
 }
 #langues {
   display: flex;
   justify-content: center;
 }
 #langues p {
   margin-top: -20px;
 }
.flag {
 width: 80px;
 height: auto;
 padding: 10px;
 }

 #credit {
 font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  width: 100%;
  background: #2F4858; 
  color : white;
  padding: 10px;
 }

#container .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container article {   
  width: 50%;
  position: relative;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: #ffffff;
  margin: 10px;
}
article img {
  width: 100%;
  border: 5px solid white;
}

#projects p {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: -5%;
  line-height: 1.2;
  color: black;
  font-weight: bold;  
  text-align: center;
}
 a.anchor {
   display: block;
   position: relative;
   top: -50px;
}
#container .link-img {
  width: 25px;
  height: auto;
  margin-right: 5px;
}

#container .devProject {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.devProject article{
  position: relative;
  width: 25%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.devProject p {
  font-size: 19px;
  line-height: 1.2;
  color: black;
  font-weight: bold;  
  text-align: center;
}